:root {
  --htitle-color: rgb(134, 15, 15);
  --title-color: rgb(67, 67, 67);
  --text-color: rgb(0, 0, 0);
  --background-color: rgb(232, 232, 232);
  --background-color2: rgb(132, 132, 132);
}
@font-face {
  font-family: gw2font;
  src: url(../style/GWTwoFont.ttf);
}
.bbody {
  background-color: var(--background-color2);
  width: 1200px;
  margin: auto;
}  
.fullbanner {
  width: 100%;
  background-color: var(--title-color);
}
.hheader {
  background-image: url(../images/header.jpg);
  width: 100%;
  height: 256px;
  display: flex;
  justify-content: center;
}
.gwgw {
  height: 33%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5%;
}
.htext {
  font-family: gw2font;
  font-size: 80px;
  margin-top: auto;
  margin-bottom: auto;
}
.navmenu {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  padding: 0%;
  justify-content: center;
}
.navbutton {
  box-sizing:border-box;
  list-style-type: none;
  display:table-cell;
  width: 100px;
  padding: 12px;
  text-align: center;
}
.navbutton:hover {
  transition: all 0.2s;
  transform: scale(1.1);
}
.navlinktext {
  padding: 6px;
  text-decoration: none;
  font-family: gw2font;
  font-size: 26px;
  color: var(--text-color);
}
